@import url("https://fonts.googleapis.com/css2?family=Cal+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");

body {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background: black;
  font-size: 1.4em;
}

h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 15%;
}

.linear-gradient-sky-blue {
  background: linear-gradient(135deg, #28727b 0%, #27dddd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.bottom-gap {
  margin-bottom: 25%;
}
