@import url("https://fonts.googleapis.com/css2?family=Cal+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  overflow-x: hidden;
  background: black;
  font-size: 1.4em;
}

.principal-title {
  font-size: 50px;
  font-weight: 900;
}

h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
}

h2 {
  transition: transform 0.4s ease, color 0.3s ease;
  filter: drop-shadow(0 0 6px #27dddd);
}

h2:hover {
  color: #27dddd !important;
  transition: 0.5s;
}

.linear-gradient-sky-blue {
  background: linear-gradient(135deg, #28727b 0%, #27dddd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.bottom-gap {
  margin-bottom: 25%;
}

.intro {
  text-align: left;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 150px;
}

.image-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.image-row img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.side-by-side-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
