.bttn {
  max-width: 100%;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2ef1ff 0%,
    rgba(46, 245, 255, 0) 30%
  );
  background-color: rgba(46, 255, 185, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 2px;
}

.bttn:hover,
.bttn:focus {
  background-color: rgba(46, 255, 227, 0.7);
  box-shadow: 0 0 10px rgba(46, 255, 238, 0.5);
  outline: none;
}

.bttn-inner {
  padding: 0em 3em;
  border-radius: 0.9em;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
