nav {
  background-color: transparent;
  padding: 1rem 5vw;
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Secciones principales */
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
}

.brand-name {
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  white-space: nowrap;
}

/* CENTRO: Links */
.nav-center {
  flex: 1;
  justify-content: center;
}

.nav-links {
  text-decoration: none;
  display: flex;
  gap: 3vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  transition: color 0.3s ease;
  line-height: 1;
}

/* Subrayado animado */
.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #27dddd;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links li a:hover {
  color: #27dddd;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

/* DERECHA: Botón */
.nav-right a {
  text-decoration: none;
}

.gradient-border-button {
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-center {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}
