.section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1%;
  padding: 30px;
  border-radius: 60px;
  background: linear-gradient(
    135deg,
    rgba(10, 29, 41, 0.6) 0%,
    rgba(0, 12, 16, 0.3) 100%
  );
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 40rem;
}

.section-left-content {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.text-content h2 {
  margin: 0;
}

.text-content p {
  margin-top: 8px;
  white-space: pre-line;
}

.fading-border {
  position: relative;
  padding: 40px;
  border-radius: 20px;

  /* Aplica un degradado como máscara desde el centro hacia los bordes */
  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
